{% raw %}
<div ng-controller="CampaignersLandingCtrl" layout="column">
  <div layout="column" layout-sm="column">
    <div layout="row" flex>
      <md-card flex >
        <md-toolbar>
          <div class="md-toolbar-tools">
            <span flex>Campaign Performance</span>
            <md-select ng-model="activeCampaign" ng-change="getCampaignReport(activeCampaign)">
              <md-option ng-value="campaign.id" ng-repeat="campaign in campaigns">{{ campaign.name }}</md-option>
            </md-select>
            <md-button class="md-primary md-raised" ng-if="campaigns.length" ng-click="gotoCampaignReport(activeCampaign)">Detail Report</md-button>
          </div>
        </md-toolbar>
        <md-card-content layout="row">
          <div class="graph" flex="100">
            <div class="graph-3x" ng-if="history">
              <nvd3 options="historyOptions" data="history"></nvd3>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <!--
    <div layout="row" flex>
      <md-card class="md-whiteframe-z1" flex="66">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <span>Insights By Postal Code</span>
          </div>
        </md-toolbar>
        <md-card-content class="tile tile-long-3x">
          <nvd3 options="starBurstOptions" data="starBurst"></nvd3>
        </md-card-content>
      </md-card>
      <md-card class="md-whiteframe-z1" flex="33">
        <md-card-content class="tile tile-normal">
        </md-card-content>
      </md-card>
    </div>
    -->
    <!-- Neo4j (Adhoc Analysis as name) -->
    <!-- End Neo4j -->
    <!-- Content Analysis -->
    <!-- Content Analysis End -->
    <!-- Offer Delivery -->
    <!-- Offer Delivery End -->
    <!--
    <div layout="row">
    <md-card class="md-whiteframe-z1" flex="40">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span>Performance Overview</span>
          <span flex></span>
          <md-progress-circular class="md-accent" md-mode="indeterminate" ng-if="!impressionData"></md-progress-circular>
        </div>
      </md-toolbar>
      <md-card-content class="tile tile-long">
        <nvd3 options="pieOptions" data="performanceData"></nvd3>
      </md-card-content>
    </md-card>
    <md-card class="md-whiteframe-z1" flex="60">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span>Performance (Over last month)</span>
          <span flex></span>
          <md-progress-circular class="md-accent" md-mode="indeterminate" ng-if="!impressionData"></md-progress-circular>
        </div>
      </md-toolbar>
      <md-card-content class="tile tile-long">
        <nvd3 options="multiBarOptions" data="timeData"></nvd3>
      </md-card-content>
    </md-card>
    </div>
    <md-card class="md-whiteframe-z1" flex>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span>Popular Locations</span>
          <span flex></span>
          <md-progress-circular class="md-accent" md-mode="indeterminate" ng-if="!impressionData"></md-progress-circular>
        </div>
      </md-toolbar>
      <md-card-content class="tile tile-long">
        <nvd3 options="cityOptions" data="cityData"></nvd3>
      </md-card-content>
    </md-card>
     -->
  </div>
</div>
{% endraw %}
