{% raw %}
<div ng-controller="CampaignersLandingCtrl" layout="column">
  <div layout="column" layout-sm="column">
    <md-card class="md-whiteframe-z1" flex>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span>Demographic Insights</span>
          <span flex></span>
          <md-progress-circular class="md-accent" md-mode="indeterminate" ng-if="!impressionData"></md-progress-circular>
          <md-button class="md-raised md-primary" aria-label="Reset Zoom" ng-click="defaultZoom()">
            Reset Zoom
          </md-button>
        </div>
      </md-toolbar>
      <md-card-content class="tile tile-long-3x">
        <div class="custom-popup" id="map" style="width: 100%; height: 100%;"></div>
      </md-card-content>
    </md-card>
    <!--
    <div layout="row" flex>
      <md-card class="md-whiteframe-z1" flex="66">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <span>Insights By Postal Code</span>
          </div>
        </md-toolbar>
        <md-card-content class="tile tile-long-3x">
          <nvd3 options="starBurstOptions" data="starBurst"></nvd3>
        </md-card-content>
      </md-card>
      <md-card class="md-whiteframe-z1" flex="33">
        <md-card-content class="tile tile-normal">
        </md-card-content>
      </md-card>
    </div>
    -->
    <md-card class="md-whiteframe-z1" flex>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span>Customer By Cities</span>
          <span flex></span>
          <md-progress-circular class="md-accent" md-mode="indeterminate" ng-if="!impressionData"></md-progress-circular>
        </div>
      </md-toolbar>
      <md-card-content class="tile tile-long">
        <nvd3 options="cityOptions" data="cityData"></nvd3>
      </md-card-content>
    </md-card>
  </div>
</div>
{% endraw %}
