{% raw %}

<div layout="row" layout-sm="column" ng-controller="GuagesLandingCtrl as gc">
  <div flex="33" flex-sm="50">
    <md-card class="md-whiteframe-z1">
      <div class="tile tile-normal bg-adomattic-accent tile-linked" ng-click="gotoCampaignList()">
        <span class="announcement mini" ng-cloak>
          {{ gc.assets.length || 0 }} <small>Assets</small>/ {{ gc.assets[0].impressions || 0 }} <small>Views</small>
        </span>
        <span class="title">
          <md-button class="md-primary md-fab md-mini md-warn" ng-click="gc.goToAssetCreate()" aria-label="Create New Asset">
            <md-tooltip md-delay="400" md-direction="top" md-autohide="true">
              New Asset
            </md-tooltip>
            <md-icon class="material-icons">library_add</md-icon>
          </md-button>
          <md-button class="md-primary md-fab md-mini" ng-click="gc.goToAssetList()" aria-label="List All Assets">
            <md-tooltip md-delay="400" md-direction="top" md-autohide="true">
              List All
            </md-tooltip>
            <md-icon class="material-icons">library_books</md-icon>
          </md-button>
        </span>
      </div>
    </md-card>
  </div>
</div>

{% endraw %}
