{% raw %}

{% extends "__auth.html" %}
{% load i18n widget_tweaks %}


{% block title %}
  <title>IntentAware | Login</title>
{% endblock %}

{% block auth_content %}
<div flex="50" flex-sm="100" layout-align="center center">
  <md-content class="md-padding auth-content md-whiteframe-z2" layout="column">
    <form name="loginForm" method="post" action="." ng-controller="FormCtrl" layout="column" ng-init="reg.email='{{ form.data.email }}';">
      {% csrf_token %}
      <md-input-container>
        <label>{{ form.username.label }}</label>
        {% render_field form.username placeholder=form.username.label ng-model="reg.email" %}
      </md-input-container>
      <md-input-container>
        <label>{{ form.password.label }}</label>
        {% render_field form.password placeholder=form.password.label ng-model="reg.password" %}
      </md-input-container>
      <md-input-container>
        <md-button class="md-primary md-raised" type="submit">Login</md-button>
      </md-input-container>
    </form>

    <p>{% trans "Forgot password" %}? <a href="{% url 'registration_password_reset' %}">{% trans "Reset it" %}</a>!</p>
    <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>

  </md-content>
</div>

{% endblock %}

{% endraw %}
