{% raw %}

{% extends "__auth.html" %}
{% load i18n widget_tweaks %}

{% block title %}
  <title>IntentAware | Update Password</title>
{% endblock %}

{% block auth_content %}
<div flex="50" flex-sm="100" layout-align="center center">
  <md-content class="md-padding auth-content md-whiteframe-z2" layout="column">
    <form name="resetForm" method="post" action="." ng-controller="FormCtrl" ng-init="reset.email='{{ form.data.email }}';">
      {% csrf_token %}
      <md-input-container>
        <label>{{ form.password1.label }}</label>
        {% render_field form.password1 placeholder=form.password1.label ng-model="reset.password1" %}

        {% if form.password1.errors %}
          <div ng-messages>
          {% for error in form.password1.errors %}
            <small style="color:red;">{{ error | escape }}</small>
          {% endfor %}
          </div>
        {% endif %}

      </md-input-container>

      <md-input-container>
        <label>{{ form.password2.label }}</label>
        {% render_field form.password2 placeholder=form.password2.label ng-model="reset.password2" %}

        {% if form.password2.errors %}
          <div ng-messages>
          {% for error in form.password2.errors %}
            <small style="color:red;">{{ error | escape }}</small>
          {% endfor %}
          </div>
        {% endif %}

      </md-input-container>

      <md-input-container>
        <md-button class="md-primary md-raised" type="submit">Reset Password</md-button>
      </md-input-container>
    </form>
  </md-content>
</div>
{% endblock %}

{% endraw %}
