{% raw %}

{% extends "__auth.html" %}
{% load i18n widget_tweaks %}

{% block auth_content %}
<div class="layout-vertical" flex="50" flex-sm="100">
  <md-content class="md-padding" layout="column">
    <form method="post" action="." layout="column">
      {% csrf_token %}
      <md-input-container>
        <label>{{ form.email.label }}</label>
        {% render_field form.email placeholder=form.email.label %}
      </md-input-container>
      <md-input-container>
        <label>{{ form.password1.label }}</label>
        {% render_field form.password1 placeholder=form.password1.label ng-model="password1" %}
      </md-input-container>
      <md-input-container>
        <label>{{ form.password2.label }}</label>
          {% render_field form.password2 placeholder=form.password2.label ng-model="password2" %}
      </md-input-container>
      <md-button class="md-raised md-primary" type="submit">Register</md-button>
    </form>
  </md-content>
</div>
{% comment %}
<form method="post" action=".">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endcomment %}
{% endblock %}

{% endraw %}

