
{% raw %}
{% extends "__auth.html" %}
{% load i18n widget_tweaks %}

{% block title %}
  <title>IntentAware | Register</title>
{% endblock %}

{% block auth_content %}
<div flex="30" flex-sm="100" layout-align="center center">
  <md-content class="md-padding auth-content md-whiteframe-z2" layout="column">
    <form name="subsciptionForm" method="post" action="." layout="column" ng-controller="FormCtrl as fc" ng-init="fc.reg.name='{{ form.data.name }}'; fc.reg.email='{{ form.data.email }}';">
      {% csrf_token %}

      <md-input-container>
        <label>{{ form.name.label }}</label>
        {% render_field form.name ng-model="fc.reg.name" md-maxlength="256" %}
      </md-input-container>

      <md-input-container>
        <label>{{ form.number.label }}</label>
        {% render_field form.number ng-model="fc.reg.name" md-maxlength="16" %}
      </md-input-container>

      <div layout="row">
        <md-input-container flex="50">
          <label>Expiration</label>
          {% render_field form.expiration %}
        </md-input-container>
        <md-input-container flex="50">
          <label>{{ form.cvc.label }}</label>
          {% render_field form.cvc  %}
        </md-input-container>
      </div>



      <md-button class="md-raised md-primary" type="submit">Register</md-button>
    </form>
  </md-content>
</div>
{% endblock %}

{% endraw %}
