{% verbatim %}
  <div layout="column">
    <div layout="row" class="md-padding">
      <div flex="75">
        <form name="CreateAdForm" ng-controller="CampaignFormCtrl as campaignForm" ng-submit="campaignForm.saveAd()" ng-disabled="campaignForm.$saving" flex>
          <md-input-container>
            <label>Name</label>
            <input type="text" name="name" ng-model="campaignForm.ad.name" required>  

            <div ng-messages="CreateAdForm.name.$error">
              <div ng-message="required">This is required, It will help you identify each ad from the other</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Description</label>
            <textarea name="description" ng-model="campaignForm.ad.description" md-maxlength="256"
                      required>{{ campaignForm.ad.description }}</textarea>  

            <div ng-messages="CreateAdForm.description.$error">
              <div ng-message="required" ng-show="CreateAdForm.description.$error">Required</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Call to Action</label>
            <input text="text" name="c2a" ng-model="campaignForm.ad.c2a" required> 

            <div ng-messages="CreateAdForm.c2a.$error">
              <div ng-message>URL for this advertisment when it is clicked</div>
            </div>
          </md-input-container>
          <div layout="row" layout-sm="column">
            <md-input-container flex="33">
              <label>Start On</label>
              <input type="date" required name="starts_on" ng-model="campaignForm.ad.starts_on">
                          <div ng-messages="CreateAdForm.starts_on.$error">
                <div ng-message>Start date for serving ad</div>
              </div>
            </md-input-container>
            <md-input-container flex="33">
              <label>Ends On</label>
              <input type="date" required name="ends_on" ng-model="campaignForm.ad.ends_on">
                          <div ng-messages="CreateAdForm.c2a.$error">
                <div ng-message>Cut of date</div>
              </div>
            </md-input-container>
            <md-input-container flex="33">
              <label>Impressions</label>
              <input type="number" min="10" name="serve_limit" ng-model="campaignForm.ad.serve_limit"> 

              <div ng-messages="CampaignAddForm.serve_limit.$error" ng-show="CreateAdForm.$dirty">
                <div ng-message="min">This must be greater than 10</div>
              </div>
            </md-input-container>
          </div>
          <div layout="row" layout-sm="column"> 

            <md-input-container>
              <label>Select Image</label>
              <input class="md-button" type="file" accept="image/*" read-file ng-model="campaignForm.ad.image" />
            </md-input-container> 

          </div>
          <md-input-container>
            <md-checkbox ng-model="campaignForm.ad.is_coupon_ad">
              Is this a coupon ad?
            </md-checkbox>
          </md-input-container>
          <md-button class="md-raised md-primary">Create New Campaign</md-button>
        </form>
      </div>
      <div flex="25" class="md-padding">
        <md-card>
          <md-toolbar class="live-preview">
            <div class="md-toolbar-tools">
              <span>{{ campaignCreateRoute.ad.name || "Live Preview" }}</span>
            </div>
          </md-toolbar>
          <img ng-src="{{ campaignCreateRoute.ad.image }}">
          <md-card-content>
            <small>{{ campaignCreateRoute.ad.description }}</small>
            {% endverbatim %}
            <br>
            <span flex ng-if="campaignCreateRoute.ad.description" style="text-align: right;"><img src="{{ STATIC_URL }}dash/src/assets/images/lg.png" height="15"></span>
            {% verbatim %}
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
{% endverbatim %}

