{% verbatim %}
  <div layout="column">
    <div layout="row" class="md-padding">
      <div flex="75" ng-include="'/dashboard/partials/forms/campaign-create.html'">
      </div>
      <div flex="25" class="md-padding">
        <md-card>
          <md-toolbar class="live-preview">
            <div class="md-toolbar-tools">
              <span>{{ campaignCreateRoute.ad.name || "Live Preview" }}</span>
            </div>
          </md-toolbar>
          <img ng-src="{{ campaignCreateRoute.ad.image }}">
          <md-card-content>
            <small>{{ campaignCreateRoute.ad.description }}</small>
            {% endverbatim %}
            <br>
            <span flex ng-if="campaignCreateRoute.ad.description" style="text-align: right;"><img src="{{ STATIC_URL }}dash/src/assets/images/lg.png" height="15"></span>
            {% verbatim %}
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
{% endverbatim %}

