{% verbatim %}
  <div layout="column" md-padding>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span>Current Campaigns</span>
        </div>
      </md-toolbar>
      <md-content class="md-whiteframe-z1">
        <div flex>
          <md-list>
            <md-item ng-repeat="c in campaigns">
              <md-item-content>
                <div class="md-tile-content">
                  <h4><strong>{{ c.name }}</strong></h4>
                  <p>{{ c.description }}</p>
                  <p>
                    <strong>Starts On: </strong>{{ c.starts_on | date:'short' }} 
                    || <strong>Ends On: </strong> {{ c.ends_on | date:'short' }}
                    || <strong>Impressions: </strong> <strong>{{ c.impressions || 0 }}</strong> served of <strong>{{ c.serve_limit }}</strong> allowed.
                  </p>
                </div>
                <div class="md-title-right" style="padding-right: 10px;">
                  <md-button class="md-primary md-raised">EDIT</md-button>
                </div>
              </md-item-content>
              <md-divider></md-divider>
            </md-item>
        </div>
      </md-content>
  </div>
{% endverbatim %}
