{% extends "registration/__base.html" %}
{% load i18n widget_tweaks %}

{% block auth_content %}
<div flex="50" flex-sm="100" layout-align="center center">
  <md-content class="md-padding" layout="column">
    <form name="loginForm" method="post" action="." ng-controller="FormCtrl">
      {% csrf_token %}
      <md-input-container>
        <label>{{ form.email.label }}</label>
        {% render_field form.email placeholder=form.email.label ng-model="reg.email" %}
      </md-input-container>

      <md-input-container>
        <md-button class="md-primary md-raised" type="submit">Reset Password</md-button>
      </md-input-container>
    </form>
  </md-content>
</div>
{% endblock %}
