{% extends "registration/__base.html" %}
{% load i18n widget_tweaks %}

{% block auth_content %}
<div flex="50" flex-sm="100" layout-align="center center">
  <md-content class="md-padding auth-content md-whiteframe-z2" layout="column">
    <form name="signupForm" method="post" action="." ng-controller="FormCtrl" ng-init="reg.name='{{ form.data.name }}'; reg.email='{{ form.data.email }}';">
      {% csrf_token %}
      <md-input-container>
        <label>{{ form.name.label }}</label>
        {% render_field form.name placeholder=form.name.label ng-model="reg.name" md-maxlength="128" %}
      </md-input-container>
      <md-input-container>
        <label>{{ form.email.label }}</label>
        {% render_field form.email type=email placeholder=form.email.label ng-model="reg.email" %}
        {% if form.email.errors %}
          <div ng-messages>
          {% for error in form.email.errors %}
            <small style="color:red;">{{ error | escape }}</small>
          {% endfor %}
          </div>
        {% endif %}
      </md-input-container>
      <md-input-container>
        <label>{{ form.password1.label }}</label>
        {% render_field form.password1 placeholder=form.password1.label ng-model="reg.password1" %}
      </md-input-container>
      <md-input-container>
        <label>{{ form.password2.label }}</label>
        {% render_field form.password2 placeholder=form.password2.label ng-model="reg.password2" %}
        {% if form.password2.errors %}
          <div ng-messages>
          {% for error in form.password2.errors %}
            <small style="color:red;">Password Mismatch</small>
          {% endfor %}
          </div>
        {% endif %}
      </md-input-container>
      <md-button class="md-raised md-primary" type="submit">Register</md-button>
    </form>
  </md-content>
</div>
{% comment %}
<form method="post" action=".">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endcomment %}
{% endblock %}
