{% extends "registration/__base.html" %}
{% load i18n widget_tweaks %}

{% block auth_content %}
<div class="layout-vertical" layout-fill>
  <md-content class="md-padding" layout="column">
    <form method="post" action=".">
      {% csrf_token %}
      <md-input-container>
        <label>{{ form.name.label }}</label>
        {% render_field form.name placeholder=form.name.label %}
      </md-input-container>
      <md-input-container>
        <label>{{ form.email.label }}</label>
        {% render_field form.email placeholder=form.email.label %}
      </md-input-container>
      <md-input-container>
        <label>{{ form.password1.label }}</label>
        {% render_field form.password1 placeholder=form.password1.label %}
      </md-input-container>
      <md-input-container>
        <label>{{ form.password2.label }}</label>
        {% render_field form.password2 placeholder=form.password2.label %}
      </md-input-container>
      <md-button class="md-raised md-primary" type="submit">Register</md-button>
    </form>
  </md-content>
</div>
{% comment %}
<form method="post" action=".">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endcomment %}
{% endblock %}
