<md-sidenav layout="row" class="md-sidenav-left md-whiteframe-z1"
            md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
  <md-content flex>
    <ul class="adomattic-menu" ng-controller="SidebarNavigationCtrl">
      <li class="menu-heading">
        <md-button ng-click="gotoHome()">Home</md-button>
      </li>
      <li class="menu-heading">
        <md-button>Campaigns</md-button>
        <ul class="adomattic-nested-menu">
          <li><md-button ng-click="goToCampaignCreate()">New Campaign</md-button></li>
          <li><md-button ng-click="gotoCampaignList()">Current Campaigns</md-button></li>
          <li><md-button>Past Campaigns</md-button></li>
        </ul>
      </li>
      <li class="menu-heading">
        <md-button href="{% url 'auth_logout' %}">Logout</md-button>
      </li>
      <li class="menu-heading"></li>
    </ul>
  </md-content>
</md-sidenav>
