.tile {
  @include size(100%);
  @include padding(10px);
  color: #fff;
  position: relative;

  .title {
    font-size: 120%;
    font-weight: 700;
    bottom: 12px;
    position: absolute;
  }

  .announcement {
    position: absolute;
    font-size: 300%;
    font-weight: 700;
    top: 20%;
    right: -10%;
    @include transform(translate(-50%, -50%));
  }
}

.tile-normal {
  @include size(auto 150px);
}

.bg-past {
  @include background(#cc0000);
}
