{% extends '__base.html' %}
{% load i18n to_json %}

{% block meta %}
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
{% endblock %}

{% block title %}
  <title>Adomattic | Dashboard</title>
{% endblock %}


{% block styles_inline %}
{% endblock %}



{% block content %}
  <div ng-app="adomattic" layout="column" flex layout-fill ng-init="globals = {{ globals | jsonify }};">

    {% if debug %}
      {% include 'debug/partials/includes/header.html' %}
    {% else %}
      {% include 'debug/partials/includes/header.html' %}
    {% endif %}

    <div layout="row" flex>
      {% if debug %}
        {% include 'debug/partials/includes/sidebar.html' %}
      {% else %}
        {% include 'debug/partials/includes/sidebar.html' %}
      {% endif %}
      <div layout="column" flex>
        <md-content class="md-padding" ng-view></md-content>
      </div>
    </div>

  </div>
{% endblock %}

{% block scripts_inline %}
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    (function (b, o, i, l, e, r) {
      b.GoogleAnalyticsObject = l;
      b[l] || (b[l] =
        function () {
          (b[l].q = b[l].q || []).push(arguments)
        });
      b[l].l = +new Date;
      e = o.createElement(i);
      r = o.getElementsByTagName(i)[0];
      e.src = '//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  </script>

  <!-- Pace Options -->
  <script>
  window.paceOptions = {
    ajax: {
        trackMethods: ['GET', 'POST', 'PUT', 'DELETE', 'REMOVE']
      }
    };
  </script>
{% endblock %}

{% block scripts_src %}
  <!-- build:js(src) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="{{ STATIC_URL }}dash/bower_components/angular/angular.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/angular-animate/angular-animate.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/angular-touch/angular-touch.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/angular-resource/angular-resource.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/angular-route/angular-route.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/angular-aria/angular-aria.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/angular-material/angular-material.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/angular-messages/angular-messages.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/pace/pace.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/d3/d3.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/nvd3/nv.d3.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/angular-nvd3/dist/angular-nvd3.min.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/lodash/lodash.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
  <!-- inject:js -->
  <script src="{{ STATIC_URL }}dash/src/js/dashboard/controllers/routes/landing/publishers.js"></script>
  <script src="{{ STATIC_URL }}dash/src/js/dashboard/dashboard.js"></script>
  <script src="{{ STATIC_URL }}dash/src/js/dashboard/controllers/routes/landing/campaigners.js"></script>
  <script src="{{ STATIC_URL }}dash/src/js/dashboard/controllers/routes/campaigns/list.js"></script>
  <script src="{{ STATIC_URL }}dash/src/js/dashboard/controllers/routes/campaigns/create.js"></script>
  <script src="{{ STATIC_URL }}dash/src/js/dashboard/controllers/dialogs/payments/stripe-credit-card.js"></script>
  <script src="{{ STATIC_URL }}dash/src/js/dashboard/controllers/dialogs/campaigns/preview.js"></script>
  <script src="{{ STATIC_URL }}dash/src/js/dashboard/services/api/invoices.js"></script>
  <script src="{{ STATIC_URL }}dash/src/js/dashboard/services/api/circles.js"></script>
  <script src="{{ STATIC_URL }}dash/src/js/dashboard/services/api/campanies.js"></script>
  <script src="{{ STATIC_URL }}dash/src/js/dashboard/services/api/campaigns.js"></script>
  <script src="{{ STATIC_URL }}dash/src/js/dashboard/controllers/forms/company-settings.js"></script>
  <script src="{{ STATIC_URL }}dash/src/js/dashboard/controllers/forms/campaign-create.js"></script>
  <script src="{{ STATIC_URL }}dash/src/js/dashboard/controllers/navigation/sidebar.js"></script>
  <script src="{{ STATIC_URL }}dash/src/js/dashboard/controllers/navigation/header.js"></script>
  <script src="{{ STATIC_URL }}dash/src/js/dashboard/directives/file-reader.js"></script>
  <script src="{{ STATIC_URL }}dash/src/js/app.js"></script>
  <!-- endinject -->

  <!-- inject:partials -->
  <!-- angular templates will be automatically converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->
{% endblock %}

{% block extras %}
{% endblock %}
