{% extends '__base.html' %}

{% block meta %}
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
{% endblock %}

{% block title %}
  <title>Adomattic | Opt-Out</title>
{% endblock %}

{% block content %}
  <div ng-app="auth" layout="column" layout-fill>
  <md-toolbar layout="row">
    <div class="md-toolbar-tools" flex hide-sm style="text-align: center;">
      <span flex><img src="{{ STATIC_URL }}dash/src/assets/images/lg.png" height="50"></span>
    </div>
  </md-toolbar>

  <div ng-controller="AuthCtrl" layout-align="center" style="padding-left: 20px; padding-right: 20px; padding-top: 5px; padding-bottom: 5px;">
    <br></br>
    We at Adomattic are committed to provide the <b> best advertising experience </b> to our users. Our <b> intelligent </b> algorithms crunch raw data 24X7, to deliver <b> relevant</b> ads to you and make your internet experience more personalized and better. In order to deliver relevant ads, we collect your information which is <b>not</b> personally identifiable. We will <b> never </b> sell your data to anybody, neither we will use it for any other purpose.
    However, we believe you have a right to<b> 100% transparency and control</b> over the data we collect about you. If you do not want us to collect your data, you can opt-out by pressing the opt-out button at the bottom of the page. But before you opt-out, we would like to explain you what will happen once you opt-out:
    <ul>
        <li>You will <b>still</b> see the same amount of ads, but they will be <b> non-relevant and less useful </b>.</li>
        <li>You may receive advertisements in a <b>foreign language </b>.</li>
        <li>You may receive advertisements for products, <b> not available </b> in your country.</li>
    </ul>
    <form name ="optout" action="" method="post">
        {% csrf_token %}
        <p style="text-align: center;"> 
            <input type="submit" class="optOutButton" value="Opt-Out" name="optOutButton"> </p>
    </form>
      
  </div>
  </div>



{% endblock %}

{% block scripts_src %}
  <!-- build:js(src) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="{{ STATIC_URL }}dash/bower_components/angular/angular.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/angular-animate/angular-animate.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/angular-touch/angular-touch.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/angular-resource/angular-resource.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/angular-route/angular-route.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/angular-aria/angular-aria.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/angular-material/angular-material.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/angular-messages/angular-messages.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/pace/pace.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/d3/d3.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/nvd3/nv.d3.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/angular-nvd3/dist/angular-nvd3.min.js"></script>
  <script src="{{ STATIC_URL }}dash/bower_components/lodash/lodash.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
  <!-- inject:js -->
  <script src="{{ STATIC_URL }}dash/src/js/auth/auth.js"></script>
  <!-- endinject -->

  <!-- inject:partials -->
  <!-- angular templates will be automatically converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->
{% endblock %}
