md-toolbar.live-preview {
  min-height: 50px !important;
  font-size: 1em;

  .md-toolbar-tools {
    height: 50px;
    font-size: 1em;
  }
}

md-grid-tile.impression-preview {
  height: 100%;
}

md-grid-tile-footer.impression-preview {
  height: 96px;
}
