.file-reader {
  height: 78px;
  .overlay {
    @include size(70% 78px);
    position: absolute;
    opacity: 0;
  }

  //defining for actual display
  .display {
    position: absolute;
    width: 70%;
  }
}
