<!doctype html>
<html ng-app="dash">

<head>
  {% block meta %}
  {% endblock %}

  {% block title %}
  {% endblock %}

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="icon" href="{{ STATIC_URL }}common/favicon.ico" type="image/x-icon" />

  <!-- build:css styles/vendor.min.css -->
  <!-- bower:css -->
  <!-- endinject -->
  <!-- endbuild -->

  <!-- build:css styles/app.min.css -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- endbuild -->

  {% block styles_extra %}
  {% endblock %}

  {% block styles_inline %}
  {% endblock %}
</head>

<body>
  <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% comment %}
    <!--
         Use `flex` [below] to have the side bar and content area
         fill the available vertical display area
     -->

    <div layout="row" flex layout-fill>

    <!--
          Use `flex` [below] to have the content area
          fill the available horizontal display area on the right side
      -->
      </div>
    {% endcomment %}

  {% block content %}
  {% endblock %}

  {% block scripts_src %}
  {% endblock %}

  {% block extras %}
  {% endblock %}

  {% block scripts_inline %}
  {% endblock %}

</body>

</html>
