{% raw %}
<md-dialog flex="80" aria-label="Campaign Include Code">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>HTML Include Code</span>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-input-container>
      <label>Include Code</label>
      <input type="text" ng-model="offerCode.pixel" ng-disabled="true">
      <div ng-messages="offerCode.helpText">
        <div ng-message="forPixel" class="help-text">
          Click copy, and place this exactly where you want your offer to appear!
        </div>
      </div>
    </md-input-container>
    <md-button
      class="md-primary md-raised"
      ui-zeroclip zeroclip-model="offerCode.pixel" zeroclip-copied="offerCode.showCopied()"
      aria-label="copy the include code">
      Copy
    </md-button>
  </md-dialog-content>
  <div class="md-actions">
    <md-button class="md-primary md-raised" ng-click="offerCode.hide()">Close</md-button>
  </div>
</md-dialog>
{% endraw %}
