{% raw %}

{% extends "__auth.html" %}
{% load i18n widget_tweaks %}

{% block auth_content %}
<div flex="50" flex-sm="100" layout-align="center center">
  <md-content class="md-padding" layout="column">
    <form name="resetForm" method="post" action="." ng-controller="FormCtrl" ng-init="reset.email='{{ form.data.email }}';">
      {% csrf_token %}
      <md-input-container>
        <label>{{ form.email.label }}</label>
        {% render_field form.email placeholder=form.email.label ng-model="reset.email" %}

        {% if form.email.errors %}
          <div ng-messages>
          {% for error in form.email.errors %}
            <small style="color:red;">{{ error | escape }}</small>
          {% endfor %}
          </div>
        {% endif %}

      </md-input-container>

      <md-input-container>
        <md-button class="md-primary md-raised" type="submit">Reset Password</md-button>
      </md-input-container>
    </form>
  </md-content>
</div>
{% endblock %}

{% endraw %}
