{% verbatim %}
<div layout-fill ng-controller="CampaignersLandingCtrl">
  <div layout layout-wrap layout-sm="column">
    <div flex="50">
      <md-card class="md-whiteframe-z1" flex flex-sm="100">
        <div class="tile tile-normal bg-adomattic-accent tile-linked" ng-click="gotoCampaignList()">
          <span class="announcement">
            {{ campaigns.length }}
          </span>
          <span class="title">
            Active Campaigns
          </span>
        </div>
      </md-card>
      <md-card class="md-whiteframe-z1" flex flex-sm="100">
        <div class="tile tile-normal bg-adomattic-primary">
          <span class="announcement">
            <small>${{ globals.budget | number:2 }}</small>
          </span>
          <span class="title">
            Budget
          </span>
        </div>
      </md-card>
    </div>
    <md-card class="md-whiteframe-z1" flex flex-sm="100">
      <md-card-content class="tile tile-long">
        <nvd3 options="options" data="data"></nvd3>
      </md-card-content>
    </md-card>
  </div>
</div>
{% endverbatim %}
