{% verbatim %}
<div layout-fill>
  <div layout layout-sm="column">
    <md-card class="md-whiteframe-z1" flex flex-sm="100">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span>Publisher's Include Code</span>
        </div>
      </md-toolbar>
      <md-card-content>
        <p>Include this anywhere in your html file</p>
        <xmp>
<script type="text/javascript">
(function(){
  'use strict';
  document.adomattic = '{{ globals.company.publisher_key }}';
  var ai = document.createElement('script');
  ai.type = 'text/javascript';
  ai.async = true;
  ai.src = '{{ window.location.protocol }}//{{ window.location.host }}/magneto/all.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(ai, s);
})();
</script>
        </xmp>
        <p>and then to display your add, just put <xmp><div class="adomattic-y"></div></xmp> where you want to display your ad.</p>
      </md-card-content>
    </md-card>
  </div>
</div>
{% endverbatim %}
<md-divider></md-divider>
