{% verbatim %}
  <form name="CreateAdForm" ng-controller="CampaignFormCtrl as campaignForm" ng-submit="campaignForm.saveAd()" ng-disabled="campaignForm.$saving" flex>
    <!-- Basic Settings -->
    <md-input-container>
      <label>Name</label>
      <input type="text" name="name" ng-model="campaignForm.campaign.name" md-maxlength="24" ng-trim="true" required>
      <div ng-messages="CreateAdForm.name.$error">
        <div ng-message="required">This is required, It will help you identify each ad from the other</div>
        <div ng-message="md-maxlength">That is too long! Max is 24 characters</div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Description</label>
      <textarea name="description" ng-model="campaignForm.campaign.description" md-maxlength="200" ng-trim="true" required>
        {{ campaignForm.campaign.description }}
      </textarea>
      <div ng-messages="CreateAdForm.description.$error">
        <div ng-message="required" ng-show="CreateAdForm.description.$error">Required</div>
        <div ng-message="md-maxlength">That is too long!!</div>
      </div>
    </md-input-container>
    <!-- End Basic Settings -->

    <!-- Target Circle -->
    <md-chips class="md-padding" ng-model="campaignForm.campaign.circles" md-autocomplete-snap md-require-match="true">
      <md-autocomplete
        md-selected-item="campaignForm.selectedItem"
        md-search-text="searchText"
        md-items="item in campaignForm.getMatches(searchText, campaignForm.circles)"
        placeholder="Select Circle To Target"
        md-item-text="item.name">
          <span md-highlight-text="campaignForm.searchText">{{ item.name }}</span>
      </md-autocomplete>
      <md-chip-template>
        <span>{{ $chip.name || $chip }}</span>
      </md-chip-template>
    </md-chips>
    <!-- End Target Circle -->

    <!-- Target Cities -->
    <!-- End Target -->

    <!-- Dates -->
    <div layout="row" layout-sm="column">
      <md-datepicker required name="starts_on" md-placeholder="Starts On" ng-model="campaignForm.campaign.starts_on" md-min-date="campaignForm.now" flex></md-datepicker>
      <md-datepicker requred name="ends_on" md-placeholder="Ends On" ng-model="campaignForm.campaign.ends_on" md-min="campaignForm.campaign.starts_on" flex></md-datepicker>
    </div>
    <!-- End Dates -->

    <!-- Budget -->
    <div layout="row" layout-sm="column" style="margin-top:10px;">
      <md-input-container flex>
        <label>Budget</label>
        <input type="number" name="input_budget" ng-model="campaignForm.campaign.input_budget" min="10" ng-disabled="campaignForm.isDisabled()">
        <div class="describe-input md-primary">
          <span><small><strong>You will be charged: </strong>{{ campaignForm.getImpressionCount().charge | currency }}</small></span>
        </div>
      </md-input-container>
      <md-input-container flex>
        <label>Offer Value</label>
        <input type="number" name="budget" ng-model="campaignForm.campaign.coupon_value" min="2" ng-disabled="campaignForm.isDisabled()">
        <div class="describe-input">
          <span><small><strong>People Targetted: </strong>{{ campaignForm.getImpressionCount().impressions }}</small></span>
        </div>
      </md-input-container>
      <div flex="45" flex-sm="100">
        <div layout="column">
        <span style="padding-bottom: 3px;"><small><strong>Offers Total: </strong>{{ campaignForm.campaign.coupon_value | currency }} &times; {{ campaignForm.getImpressionCount().impressions }} = {{ campaignForm.getImpressionCount().impressionsTotal | currency }}</small></span>
        <span style="padding-bottom: 3px;"><small><strong>Service Charges + Taxes: </strong>{{ campaignForm.getImpressionCount().serviceCharges | currency }} + {{ campaignForm.getImpressionCount().taxes | currency }} = {{ campaignForm.getImpressionCount().serviceCharges + campaignForm.getImpressionCount().taxes | currency }}</small></span>
        <md-divider></md-divider>
        <span><small><strong>Total: </strong>{{ campaignForm.getImpressionCount().charge | currency }}</small></span>
        </div>
      </div>
    </div>
    <!-- End Budget -->
    <div layout="row" layout-sm="column">
      <read-file label="Choose Campaign Image (maximum 1MB)" accept="image/*" max-size="1024000" ng-model="campaignForm.campaign.image" flex></read-file>
    </div>
    <md-button type="submit" class="md-raised md-primary" ng-disabled="campaignForm.$saving" aria-label="Create Campain">
      <span ng-if="!campaignForm.$saving && campaignForm.campaign.id">Update Campaign</span>
      <span ng-if="!campaignForm.$saving && !campaignForm.campaign.id">Create New Campaign</span>
      <span ng-if="campaignForm.$saving">Creating New Campaign</span>
    </md-button>
  </form>
{% endverbatim %}

