{% verbatim %}
  <div layout-fill>
    <div layout layout-sm="column" layout-padding>
      <form name="SettingsForm" ng-controller="SettingsFormCtrl as settingsForm" ng-submit="settingsForm.updateSettings()" flex>
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Name</label>
            <input type="text" name="name" ng-model="settingsForm.company.name" ng-disabled='true'>
            <div ng-messages="settingsForm.company.name.$error">
              <div ng-message="required" class="disabled">Name of your company</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>API Key</label>
            <input type="text" name="publisher_key" ng-model="settingsForm.company.publisher_key" ng-disabled='true'>
            <div ng-messages="settingsForm.company.publisher_key.$error">
              <div ng-message="required" class="disabled">API key for developer</div>
            </div>
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <md-input-container flex ng-if="globals.company.is_advertiser">
            <label>Advertiser's Rate</label>
            <input type="text" name="advertiser_rate" ng-model="settingsForm.company.advertiser_rate" ng-disabled='true'>
            <div ng-messages="settingsForm.company.advertiser_rate.$error">
              <div ng-message="required" class="disabled">IntentAware's Processing Fees</div>
            </div>
          </md-input-container>
          <md-input-container flex ng-if="globals.company.is_publisher">
            <label>Publisher's Rate</label>
            <input type="text" name="publisher_rate" ng-model="settingsForm.company.publisher_rate" ng-disabled='true'>
            <div ng-messages="settingsForm.company.publisher_rate.$error">
              <div ng-message="required" class="disabled">IntentAware's Processing Fees</div>
            </div>
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <md-checkbox ng-model="settingsForm.company.is_advertiser" ng-disabled="settingsForm.company.is_advertiser" flex>
              Advertiser?
          </md-checkbox>
          <md-checkbox ng-model="settingsForm.company.is_publisher" ng-disabled="settingsForm.company.is_publisher" flex>
              Publisher?
          </md-checkbox>
        </div>
        <div layout layout-sm="column">
          <md-button type="submit" class="md-raised md-primary">Update Settings</md-button>
        </div>
      </form>
    </div>
  </div>
{% endverbatim %}

