$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower

.adomattic {
  @include border-color(#F2F2F2);
  @include border-width(2px);
  @include border-style(solid);
  @include background(#FEFEFE);
  //@include padding(5px);
  //@include margin(5px);
  //box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  width: 250px;
  line-height: 1.4;
  font-family: $helvetica;

  .title {
    @include padding(10px);
    font-size: 14px;
    font-weight: 500;
    @include background(#f2f2f2);
  }

  img {
    width: 230px;
    @include border-color(null null #F2F2F2 null);
    @include border-style(null null solid null);
    @include padding(10px);
    //@include margin(null null 5px null);
  }

  .description {
    font-size: 12px;
    letter-spacing: 0.5px;
    @include padding(null 10px 5px 10px);
    font-weight: 300;
  }
}
