{% raw %}
<div>
  <md-content>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="invoice in invoiceList.invoices">
        <div class="md-list-item-text">
          <h3>Billed On: <strong>{{ invoice.added_on | date }}</strong></h3>
          <h4>Charged On: <strong>{{ invoice.charged_on | date }}</strong></h4>
          <p>Amount: {{ invoice.amount | number:'2' }}</p>
          <md-divider ng-if="!$last"></md-divider>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</div>
{% endraw %}
