{% raw %}

<md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

  <div flex>
    <ul class="adomattic-menu ng-cloak" ng-controller="SidebarNavigationCtrl">
      <li class="menu-heading">
        <md-button ng-click="gotoHome()">Home</md-button>
      </li>
      {% if globals.company.is_advertiser %}
      <li class="menu-heading">
        <md-button class="no-pointer" ng-click="gotoCampaignList()">Campaigns</md-button>
        <ul class="adomattic-nested-menu">
          <li><md-button ng-click="goToCampaignCreate()">New Campaign</md-button></li>
          <li><md-button ng-click="gotoCampaignList()">Current Campaigns</md-button></li>
          <li><md-button ng-click="gotoCampaignList('past')">Past Campaigns</md-button></li>
        </ul>
      </li>
      <li class="menu-heading">
        <md-button ng-click="goToInvoices()">Invoices</md-button>
      </li>
      {% endif %}
      <li class="menu-heading">
        <md-button class="no-pointer" aria-label="Assets Menu">Assets</md-button>
        <ul class="adomattic-nested-menu">
          <li><md-button ng-click="goToAssetCreate()">New Asset</md-button></li>
          <li><md-button ng-click="goToAssetList()">List Assets</md-button></li>
        </ul>
      </li>
      <li class="menu-heading">
        <md-button ng-click="goToSettings()">Settings</md-button>
      </li>
      <li class="menu-heading">
        <md-button href="http://graph.intentaware.com/" target="_blank">Graph Analysis</md-button>
      </li>
      <li class="menu-heading">
        <md-button href="{% url 'auth_logout' %}">Logout</md-button>
      </li>
    </ul>
  </div>
</md-sidenav>

{% endraw %}
