/**
* SideBar and Menu
**/

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 250px !important;
    width: 40vw !important;
    max-width: 250px !important;
}

.adomattic-menu,
.adomattic-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.adomattic-menu li {
  margin: 0;
}
.adomattic-menu > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.adomattic-menu .md-button {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}
.adomattic-menu a.md-button {
  display: block;
}
.adomattic-menu button.md-button::-moz-focus-inner {
  padding: 0;
}
.adomattic-menu .md-button.active {
  color: #03a9f4;
}
.menu-heading {
  color: #888;
  display: block;
  font-size: inherit;
  font-weight: 500;
  line-height: 40px;
  margin: 0;
  //padding: 0px 16px;
  text-align: left;
  width: 100%;
}

.adomattic-menu li.parentActive,
.adomattic-menu li.parentActive .menu-toggle-list {
  background-color: #f6f6f6;
}

.adomattic-nested-menu {
  font-size: 80%;
}
