{% verbatim %}
<md-dialog flex="60" aria-label="Credit Card Details">
  <form name="creditCardForm" ng-submit="creditCard.chargeCard()">
    <md-dialog-content layout="column">
      <md-input-container>
        <label>Number</label>
        <input type="text" required="true" ng-model="creditCard.creditCard.number">
      </md-input-container>
      <md-input-container>
        <label>Expiry Date (Month)</label>
        <input type="text" required="true" ng-model="creditCard.creditCard.exp_month" maxlength="2">
      </md-input-container>
      <md-input-container>
        <label>Expiry Date (Year)</label>
        <input type="text" required="true" ng-model="creditCard.creditCard.exp_year" maxlength="2">
      </md-input-container>
      <md-input-container>
        <label>Security Code (CVC)</label>
        <input type="text" required="true" ng-model="creditCard.creditCard.cvc" maxlength="3">
      </md-input-container>
    </md-dialog-content>
    <div class="md-actions">
      <md-button type="submit" class="md-primary md-raised">Charge</md-button>
    </div>
  </form>
</md-dialog>
{% endverbatim %}
